.chart {
    width: 100%;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 20px;
}

.chartTitle {
    width: 100%;
}

.chartTitle h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1e0d03;
    line-height: 54px;
    font-style: normal;
}

.chartDT {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chartDT p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0px;

    line-height: 28px;
    color: #1e0d03;
}

.chartCL input {
    width: 170px;
    padding: 9px 12px;
    border-radius: 8px;
    border: solid #c7c7c7;
}

.chartCL p {
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0.78;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}
